:root {
    /* ### Primary */

    --Purple-500: hsl(259, 100%, 65%);
    --Red-400: hsl(0, 100%, 67%);
    /* ### Neutral */

    --White: hsl(0, 100%, 100%);
    --Grey-100: hsl(0, 0%, 94%);
    --Grey-200: hsl(0, 0%, 86%);
    --Grey-500: hsl(0, 1%, 44%);
    --Black: hsl(0, 0%, 0%);

}

@font-face {
    font-family: Pop;
    src: url(age-calculator-app-main/assets/fonts/Poppins-Regular.ttf);
}

* {
    font-family: Pop !important;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--Grey-100);
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--White);
    width: 420px;
    max-width: 80%;
    padding: 30px;
    position: relative;
    border-bottom-right-radius: 150px;
}

input {
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--Grey-100);
    outline: none;
}

input:focus {
    border: 2px solid var(--Purple-500);
}

small {
    color: var(--Red-400);
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: capitalize;
}

.submit-btn {
    width: 70px;
    height: 70px;
    padding: 20px;
    display: flex;
    background-color: var(--Purple-500);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 60px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: black;
}


.output span {
    font-size: 2.5rem;
    color: var(--Purple-500);
    font-style: italic;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}

.input-flex {
    display: flex;
    border-bottom: 2px solid var(--Grey-100);
    margin-bottom: 20px;
}

